[2015-12-08 05:16] zhouwenbin opened #1 "error"
[code]

[2015-12-08 11:31] tomatau commented on #1
Can you provide more error details?

Also have you created a `.env` file?

Minimum requirements would be:

[code]

[2015-12-09 02:00] zhouwenbin commented on #1
[code]

[2015-12-09 08:46] tomatau commented on #1
Did you do a fresh install of node_modules on npm 3.3.x?

I can't reproduce this...

Maybe you're behind some firewall? If a fresh node_modules install doesn't work, try with sudo...

[2015-12-09 08:56] xdbr commented on #1
I have seen the same as @zhouwenbin.

@tomatau: I can prove that the above mentioned `.env` file does the trick for me.

Mentioning that sample file in the README might help to remove friction for new users, though.

[2015-12-09 08:59] xdbr opened #2 "npm test error"
Similar to #1, `npm run` doesn't run out of the box after a fresh install.

This is especially bad for people trying out this stack.

The `.env` file as in #1 doesn't help here – might it be a similarly simple issue that does the polishing?

This is what I'm getting:

[code]

[2015-12-09 13:00] tomatau commented on #1
Thanks @xdbr - it is in the readme but I'll make it more obvious :)

[2015-12-09 13:01] tomatau commented on #2
Thanks @xdbr - I'll be looking into this ASAP, just in the process of moving house. Sorry for the problems, I've only been doing installs on one machine so it definitely needs some polish :)

[2015-12-09 13:03] tomatau commented on #2
Actually I can see the problem from the error, I changed the file name from `webpack.config` to `webpack.base.config` and didn't update the reference in `src/config/webpack.unit-test.browser.config`. Will fix this asap but it's easy to fix locally too :)

[2015-12-09 13:44] zhouwenbin commented on #1
@tomatau ok,it works when i add '.env' file. i think you should push the file to github.

[2015-12-09 13:44] #1 closed

[2015-12-09 15:37] tomatau commented on #1
The purpose of an .env file is to store environmental settings such as AUTH_CODE and other private information.

I'll make the .env file a non requirement and default NODE_ENV to development and some default port.

[2015-12-09 16:00] tomatau commented on #2
@xdbr, tests are working again on latest master now.

[2015-12-09 16:31] tomatau commented on #1
https://github.com/tomatau/breko-hub/pull/3

[2015-12-14 09:35] xdbr commented on #2
Yes, can confirm it works with #4

[2015-12-22 21:16] tomatau commented on #2
Where is the bluebird dependency coming from? Works fine for me without it.

[2016-01-11 10:22] #2 closed

[2016-01-23 21:07] mclouvem opened #6 "Dynamic Routes"
Hi @tomatau! I've just clean clone this repo and I'm making some tests with dynamic routes(https://github.com/rackt/react-router/blob/master/docs/guides/advanced/DynamicRouting.md), but I'm having some hard times to figure it out how to implement it. Could you give some tips about it?

I know it is not an issue, but I couldn't find another way to contact you.
Thanks!

[2016-01-23 21:13] tomatau commented on #6
Hey @mclouvem - I've never attempted dynamic routes myself but I assume that you'll need to provide a way for the server code to load routes if they match the request. So you might need something like this:

[code]

[2016-01-23 21:50] mclouvem commented on #6
Thanks @tomatau for this quick answer. I'm gonna try this. One last question... you mentioned an sample app using this starter kit, so do you have some sample that you can share? I'm quite newbie on redux stuff.
I'm searching for a Koa starter kit, and yours seems really great.

[2016-01-24 09:12] tomatau commented on #6
Hey @mclouvem -- sorry I don't have that ready yet. There's just the example FooRoute and HeadNavigation that give a bit of direction.

[2016-01-24 18:48] mclouvem commented on #6
@tomatau...I made a simple example and it's working.

I was checking webpack's production settings and there is no compression set. There is a reason for it?

[2016-01-24 18:50] tomatau commented on #6
Are you talking about the compression of assets sent from the server? Which version of breko hub are you using and how are you building production? I fixed an issue with asset compression a few weeks back.

[2016-01-24 18:54] mclouvem opened #7 "Authentication"
@tomatau I would like to discuss what's the best approach to implement user authentication on this starter kit.

I was looking at Estejs and react-redux-universal-hot-example, but I'm not sure how to do it.

[2016-01-24 18:55] tomatau commented on #7
you could always wire up passport for authentication with OAuth or another similar service.

[2016-01-24 19:12] mclouvem commented on #6
Maybe you can add this to webpack settings

[code]
I'm building production using npm run build && npm run start

[2016-01-24 19:17] mclouvem commented on #7
Thanks! I'll try to implement passport

[2016-01-24 19:17] #7 closed

[2016-01-24 19:19] tomatau commented on #6
Want to PR it? Can just add the options to src/config/webpack.production.config.js

[2016-01-24 19:22] mclouvem commented on #6
Yes! I'll submit it.

[2016-01-24 19:22] #6 closed

[2016-01-25 17:59] mclouvem opened #10 "Update dependencies"
Hi @tomatau!

I've update Koa to 1.1.2 and Reac-router to 2.0.0-rc5. Is there some reason why you didn't do it yet?

If you agree, I'll submit a PR.

[2016-01-25 18:35] tomatau commented on #10
Hi @mclouvem I'm hoping to move to koa-2.0 when it is more stable.

Also, same applies for RR-2.0-rc. I'm focusing on other parts of breko hub first (examples, more tests, etc...) and waiting for RR 2.0 to be released instead of an RC. We already have the desired functionality by creating a shared isomorphic history singleton.

[2016-01-25 19:56] mclouvem commented on #10
I see and I agree with you. Can I help you with something else on those other parts? How can I contact you?

[2016-01-29 18:09] #10 closed

[2016-01-29 18:12] mclouvem opened #11 "Retrieving data from external API"
HI @tomatau,

What is your recommendation to retrieve data from an external API? May I ask you for some example?

I'm making some tests, but I couldn't get these data inside my thumb component.

[2016-01-29 23:13] tomatau commented on #11
The redux-promise-middleware is bundled in already, so any promise for a request would work there. Although it's totally up to you how you prefer to make requests -- there are many libraries out there to ease this for redux.

[2016-01-31 14:53] mclouvem commented on #11
Hi @tomatau,
Thanks, I've made the request to the API and I got external data inside state. Also, I've used react-redux Connect inside 'App' component
[code]

Using React DevTools, I can see all state inside de App component. I'm trying to pass the state to FooRoute, but I'm making some mistake, because there is not state data inside FooRoute component. I know it is not an issue, but I'll really a

[2016-01-31 17:02] tomatau commented on #11
you can connect straight to the FooRoute component

[2016-01-31 19:35] mclouvem commented on #11
Thank you @tomatau! It's working now, I'm connecting inside each container component.

[2016-01-31 19:35] #11 closed

[2016-02-20 01:22] ntucker opened #13 "Store as global for server-side?"
Is it just me or is the redux store global, so every request from one use for one session will affect the initial store state sent to client for others?

[2016-02-20 01:42] ntucker commented on #13
Looks like you fixed that recently. Did you also fix the part where it didn't wait for the promise to resolve from fetcher before it rendered the app?

[2016-02-20 01:42] #13 closed

[2016-02-20 08:55] tomatau commented on #13
That was a crappy mistake by me in an initial refactor when trying to sort out middleware. But it's sorted now. I'm not sure why the fetcher wouldn't complete before it rendered the app. There's an example in BarRoute for ensuring a promise action is complete before the initial SSR too.

Regarding global stores. There's also a socketStore that gets created for handling socket broadcasts using redu

[2016-02-21 08:11] ntucker commented on #13
The part of my comment about fetcher not completing I removed because I realized I had broken it by not using Promise.all() when I did multiple promises in fetcher (not returning promise means it has nothing to wait for)

[2016-02-22 01:23] ntucker opened #14 "Redial uses 'fetch' not 'prefetch'"

[2016-02-22 07:22] tomatau commented on #14
You define your own provideHooks with redial. You can call them whatever you like and then trigger by the same name you defined. I choose prefetch as it was more explicit. Closing.

[2016-02-22 07:22] #14 closed

[2016-02-23 02:43] ntucker opened #15 "Use piping instead of writing your own code using chokidar"
https://www.npmjs.com/package/piping

[2016-02-23 09:05] tomatau commented on #15
I looked into piping when first starting this repo. The problems I had were:
- It uses workers to manage the code when I'm just deleting the cache.
- I would have less control over memory leaks and refreshing the assets layer.

Can you make a branch that shows the benefits here? As I'm not sold but am definitely open to see how this could be an improvement.

[2016-02-23 20:43] ntucker commented on #15
Hmm, I just thought it would be cleaner. Since it's only used for development worrying about memory leaks and such seems insignificant to development ease. I am not a fan of having huge boilerplates as improvements are hard to integrate once you branch off. Perhaps you could provide a library encapsulation of your improved method here?

The problem is when you make fixes/improvements here, it's ha

[2016-02-23 20:57] tomatau commented on #15
I understand that concern and it does make sense. I'm trying to stick to semver where possible -- but I'll be doing a fair bit of work when I get the chance in the coming weeks to add a lot of stuff.  I'm currently working on trying to get a nice setup for unit, functional and acceptance tests to cover the full codebase.

Also, I haven't touched the hot reload stuff for a good long while now so do

[2016-02-24 19:38] tomatau opened #16 "Add Functional Tests"
Working on this locally to get things clean before pushing the changes in.

- [x] add functional setup
- [x] write tests for server side render
- [x] write tests for server side api
- [x] write tests for client side render

[2016-02-24 19:43] tomatau opened #17 "Add More Unit Tests"
Will start adding more tests for each piece once functional tests are sorted

- [ ] Server side HTML component
- [ ] App component (enzyme)
- [x] Head Navigation component (skin-deep)
- [ ] Flash message component (skin-deep)
- [ ] Foo & Bar Route components
- [x] flash reducer
- [ ] foo & bar reducer
- [ ] flash saga
- [ ] actions
- [ ] util functions

[2016-02-24 20:02] tomatau opened #18 "Add Acceptance Tests"
Need to figure out a good solution for acceptance tests.. once one is down, a full 'Acceptance' Journey can be coded up and integrated.
### Requirements
- can run any browser (possible browserstack or something?)
- can integrate easily with circleCI
- can run a complete user journey or more
- debuggable
- (nice to have) can mock out API calls
- open source
- friendly API for handling transitions o

[2016-02-24 22:26] tomatau opened #19 "Update react-router-redux"
It's using a history enhancer now (like we did in breko hub a while back! *smug*)

Let's upgrade it!

[2016-02-24 22:27] tomatau opened #20 "More PostCSS"
It's good stuff, lets get more in there as default, like minification hacks.

[2016-02-24 22:32] tomatau opened #21 "Add test coverage?"
Not sure this is even important really. But maybe a nice to have.

[2016-02-24 22:32] tomatau opened #22 "Upgrade sagas"
Make use of select effects instead of the getState calls.

[2016-02-26 01:24] ntucker opened #23 "Hot loading reducers not supported"
Needs to be explicit:

https://github.com/reactjs/react-redux/releases/tag/v2.0.0

[2016-02-26 01:56] ntucker commented on #23
It's weird I found

[code]

in entry, but hot reloading still doesn't work for me (FYI: my path is diff)

[2016-02-28 16:26] tomatau commented on #23
Good spot! Fixed in https://github.com/tomatau/breko-hub/commit/b4039929c0ddb0c1c196814bc1080497c3010b5c

Had to call the replace function in the same file that the store is created... little bit annoying but what the hey

[2016-02-28 16:27] #23 closed

[2016-02-28 22:07] tomatau opened #24 "Add SCSS linting"

[2016-03-02 13:28] tomatau commented on #16
Done, 1.0.0-rc

[2016-03-02 13:28] #16 closed

[2016-03-02 13:30] tomatau opened #25 "Functional/Integration tests for sockets"
Not sure about this, client functional tests don't run in a real location and the connections are made at `import` automatically.
- [ ] write tests for server side socket integration
- [ ] write tests for client side socket integration

[2016-03-02 13:57] tomatau commented on #19
https://github.com/tomatau/breko-hub/commit/6da35e4410072c8b2c78ac0f835e990c1f940710

[2016-03-02 13:57] #19 closed

[2016-03-02 14:04] tomatau commented on #22
https://github.com/tomatau/breko-hub/commit/e15ef45f27ef8208b7490a56fd26a2b10dc2360a

[2016-03-02 14:04] #22 closed

[2016-03-02 14:44] tomatau commented on #24
https://github.com/tomatau/breko-hub/commit/b06cbde487728c598418753c637d0f6d74ddf033

[2016-03-02 14:44] #24 closed

[2016-03-02 14:44] #15 closed

[2016-03-02 15:09] tomatau commented on #20
could add cssnext, too easy to do, just throwing in cssnano for now

https://github.com/tomatau/breko-hub/commit/e1bc1bb12fb98d74e6b955c4a30b04990b3af98d

[2016-03-02 15:09] #20 closed

[2016-03-04 08:40] tomatau commented on #25
This should help https://github.com/socketio/socket.io-client/blob/master/test/support/env.js

[2016-03-05 10:11] tomatau commented on #25
Nope, socket connections are made handled outside of `it` blocks, and even outside of `afterEach` blocks too! So asserting on them (ieven when deferring the assertion) is a real pain to do :/

There's lots of funky behaviour too, such as closing connections in an `after` block, just hangs, but closing in an `afterEach` block will close before the `connection` events are fired.

Very frustrating, I

[2016-03-09 07:59] tomatau opened #26 "React 15.0-rc"
Let's rock it

- this will enable better functional testing around the server render as there is no more data-reactid pollution, only the top checksumid to consider.

[2016-03-09 09:18] danwad opened #27 "Typo minetype -> mimetype in webpack.base.config.js"
https://github.com/tomatau/breko-hub/blob/master/src/config/webpack.base.config.js

minetype should be mimetype.

[2016-03-09 09:34] tomatau commented on #27
PR?

[2016-03-09 09:43] danwad commented on #27
See #28

[2016-03-09 09:43] #27 closed

[2016-03-18 21:22] tomatau opened #29 "strip debug from production"
options:
- webpack strip loader on debug|log function calls + replacement plugin for an empty debug.js file
- straight up replace debug with a stub

Might want to keep debug statements in there just in-case production needs debugging?... could only strip when DEBUG isn't available in env... but would need a recompile for prod debugging... very much worse case scenario here.

[2016-03-18 21:26] tomatau opened #30 "update loadCSS"
new version out. already used in tomatao-blog

might be worth using some es6 and making it easier to read?

alternatively could just inline it for even further optimisation.

[2016-04-16 12:29] tomatau commented on #26
https://github.com/tomatau/breko-hub/commit/07c3e854aed42ad3a0133f9cdf2173dad0542284

[2016-04-16 12:29] #26 closed

[2016-05-04 03:47] fishmacs opened #31 "Is it ok using babel-register for production?"
Hi, I stumbled on your boilerplate and found it is a very good start point to a react-babel-koa project, thanks!
And I got a little confused after I had found babel-register used heavily, I think Babel guys do not agree use it for production:

[https://github.com/babel/example-node-server/issues/13](https://github.com/babel/example-node-server/issues/13)
[babel-handbook](https://github.com/thejame

[2016-05-05 08:11] tomatau commented on #31
Hi @fishmacs - glad you found it useful!

So when I started this project only the `babel-node` command was clearly discouraged and after looking at many other popular boilerplates, they also use the `babel-register` runtime in their production servers -- but still... it would be better to remove this runtime compilation on the server start command for production.

One thing, I wouldn't say we used

[2016-05-06 02:56] fishmacs commented on #31
Thanks for the reply!

I think you just require babel-register once in your start script, but it affects all js files, compiling them on the fly, of course, just once each file.

About relative imports, I failed on using babel-resolve-relative-module without babel-register. And I found this [babel-plugin-module-alias](https://github.com/tleunen/babel-plugin-module-alias) promising, which just sits

[2016-05-06 09:22] nasushkov opened #32 "Problems with babel-polyfill and debug"
Hi, I'm trying this boilerplate for one of my personal projects. Two problems that I faced at the very beginning:

1. babel-polyfill works only when I explicitly call babel-register with presets like this:
  `require("babel-register")({
    presets: [ 'es2015', 'react', 'stage-0'],
    plugins: [
        "add-module-exports",
        "babel-root-import",
        "react-require",
        ["provide-

[2016-05-06 12:28] tomatau commented on #32
Hi - how are you starting this commands? Could you give me some repro steps as when I run `npm start` it works for me.

[2016-05-06 12:39] tomatau commented on #31
No problem!

That's right, it's just imported once and then compiles then on initialisation of the server. They are all already compiled by the time any requests come in to the server.

Hey - nice find on babel-plugin-module-alias! I will look into moving across to that as it looks a little cleaner, although the alias setup for each folder could be a bit of a hassle.  Also, not sure why you would

[2016-05-06 13:07] nasushkov commented on #32
I simplified your code for my case So this one doesn't work:

`require('babel-polyfill');
const argv = require('yargs').argv;
const fileWithPath = (() => {
    switch(true) {
        case argv.build:
            return './build.js';
        default:
        case argv.start:
            return '../app/server';
    }
})();
require(fileWithPath);`

And this works fine:
`require('babel-polyfill');
req

[2016-05-06 16:21] tomatau commented on #32
how are you starting this command? babel needs to know that it should be applied to the files still, so you would either need to compile it with babel or start using `babel-node`.

I prefer to use the babel-register in combination with a babelrc.

The problems you're facing aren't with this boilerplate as you've changed the boilerplate. Your problems are with using babel the way you expect to.

[2016-05-07 03:24] fishmacs commented on #31
I think the js files are compiled only when they are used, that is what mean by "on-the-fly",  Not all get compiled while server starting?

About different aliases,  js files should be compiled to a directory like build/ if babel-register disabled. so a alias for development like ./src/app => app should be ./build/src/app => app for production. Or there can be another .babelrc under build/?

I sai

[2016-05-07 11:19] tomatau commented on #31
So, when the server is started, all of the files are 'required' to configure the server - so they will already be compiled and in memory by the time any requests come in. This is slightly different in development because of the server hot reloading... but in production they should be compiled during the server initialisation phase.

If the server code was to be pre-compiled, it would make sense to

[2016-05-07 11:36] #32 closed

[2016-05-08 06:26] fishmacs commented on #31
Ok, I'll read the blog, it would be a great resource for learning! I plan to study hot loader in next step, and I saw an article about it in the blog, great!

I'm think if hot reloading available for production, do not need to restart server?

The author of [react-transform-hmr](https://github.com/gaearon/react-transform-hmr) said it is deprecated:

[2016-05-08 10:08] tomatau commented on #31
Hot reloading in production would not be recommended as it could introduce memory leaks quite easily in server code -- also you will need to push the whole code change to your production hosting which will call for a restart anyway. Most hosting does some form of A/B leg deployments so restarting the server is fine. If you want to persist memory state, you can run all of your server side actions t

[2016-05-09 09:45] fishmacs commented on #31
Ok, thanks your answer 👍
Another question:
I'm trying hot reloading, seems webpack build ok:

but I just can't find the output bundle file, in file system nor via URL, my webpack config below:

    entry: 'src/app/entry.js',
    output: {
      path: 'public',
      filename: 'bundle.js',
      publicPath: '/',
    }

[2016-05-09 11:33] tomatau commented on #31
Are you using the webpack middleware for your server? That will compile the bundle to memory.

[2016-05-09 11:38] #31 closed

[2016-05-09 13:06] fishmacs commented on #31
Got it. The webpack config entry did not accept 'src/app/entry.js', I changed it to full path, then it worked.
The koa-webpack-dev-middle's options is {quiet: true, noInfo: true, ...} in breko-hub, I set them to false, then the error message displayed and I figured it out :)

[2016-05-18 13:30] nasushkov opened #33 "Debugging server side code"
Hi Thomas,

First of all, thank you for your boilerplate, I played with it for some time and I find it more useful and better structured than more popular ones. Still I don't understand how am I supposed to debug babel-transpired code on a server for this case. Most of the examples that I saw, use gulp to load source maps. Personally, I don't like gulp, and I find it overwhelming to use it only fo

[2016-05-18 13:35] tomatau commented on #33
Hey @nasushkov ! Thanks for your compliments!

For debugging server code I tend to use tests mostly.

For units, you can actually run most of the smaller pieces of server code in the browser unit tests `npm run`.  Other than that it's a case of just logging.

I've experimented with node-inspector for babel before, but it didn't work very smoothly... I think it's quite an unexplored areas, especial

[2016-05-18 13:51] nasushkov commented on #33
Yes, I use DEBUG. Still I'd like to use breakpoints and other things that are available in a browser. I'll post my suggestions later today. Thank you.

[2016-05-18 13:51] #33 closed

[2016-05-19 07:37] nasushkov opened #34 "Overall questions/suggestions"
Hi, here are some questions/suggestions that I have on my mind after playing with this boilerplate for several days:

* Your koa server setup is spread across several files (partly in _app.js_, partly in _start.js_). So at the first time it's hard to grasp, what is happening here. Maybe it would be better to move koa app setup code to _app.js_ file and leave at _start.js_ only isomorphic tools con

[2016-05-19 07:52] tomatau commented on #34
Hey @nasushkov thanks for this! Let me go through each of these.

- I'd suggest react-helmet as a more convenient way to manage page head
  - This looks very interesting! Want to make a PR? I'm not sure what the benefits are over react-document-meta?

- It also would be nice to add react-intl support for internationalization
  - In my experience with INTL support, implementations can be forced bas

[2016-05-19 12:21] nasushkov commented on #34
Thanks,  Thomas, Your blog post clarifies a lot. React-helmet plays as a react-component so you can change page data on the client. For example, I use it for locale switching.

[2016-05-19 15:56] tomatau commented on #34
Glad to hear it helped!

we're already using react-document-meta which does the same!

[2016-09-25 10:47] #34 closed

[2016-10-07 08:16] ratik opened #35 "style init after js is loaded"
Hi
So there is issue in Chrome: styles are applied only after js loaded because classnames added into DOM.
Is there any way to fix the loading process so class names generated at server rendering phase are exact as in css bundle file?

Thanks.

[2016-10-07 14:33] tomatau commented on #35
This only happens in dev to enable CSS module hot reloads.

Make a production build and the styles are available immediately.

[2016-10-08 08:33] tomatau commented on #35
To do the production build:

Change your `.env` file to have `NODE_ENV=production`

then:

`npm run build`

`npm start`

you'll see all styles are applied immediately.

[2016-10-08 08:33] #35 closed

[2016-10-09 12:30] ratik commented on #35
thank you, it works like a charm

[2016-10-13 12:19] ravinpatel opened #36 "Webpack method deprecated"
[webpack-isomorphic-tools] [error] `.development()` method is now deprecated (for server-side instance only, not for webpack plugin instance) and has no effect. Set up a proper `process.env.NODE_ENV` variable instead

^^^^ Got above when ran 'npm start'

Many thanks love ur work bro, employ me

[2016-10-13 18:31] tomatau opened #37 "React Router 4"
There's a branch in progress for react-router 4 and overall it offers many improvements to current master.

Some key points:
- Support for server side prefetch has become more route config based. This isn't really an MVP for breko-hub so is being removed. I hope to document some options for server side prefetch or maybe a better solution will start to shine through.
- The current functional testin

[2016-10-13 18:43] tomatau commented on #36
fixed in https://github.com/tomatau/breko-hub/commit/04d85ef535bc0ddbdae180c010ec20dea1cdf829

[2016-10-13 18:43] #36 closed

[2016-10-26 14:12] ykt opened #42 "KoaJS compose 2.5.0 is breaking breko-hub"
Hi,

We have been using your boilerplate for our production app, just wanna let you current state `breko-hub` is broken due to `koa-compose@2.5.0` is used by `koa`.

You might refer this [issue](https://github.com/koajs/compose/issues/67)  for the detail, so the workaround for this boilerplate is explicitly used older version `koa-compose@2.4.0` in package.json.

Hope it might helps.

[2016-10-26 19:02] tomatau commented on #42
Hey that's super cool you're using this boilerplate :)

So I can see koa@^1.2.4 is depending on `"koa-compose": "^2.3.0"` and so any new installs will break due to getting the new minor you're talking about. I'm a little reluctant to explicitly depend on a version of koa-compose that isn't actually used directly by this boilerplate. It could easily end up being an artefact when koa@1.x or koa-comp

[2016-10-27 03:24] ykt commented on #42
Yea, they have fixed the problem in this [commit](https://github.com/koajs/compose/commit/91b7d49cb8bb60c926bb712e221b2370c6452c80).
Thanks :)

[2016-10-27 03:24] #42 closed

[2016-12-18 22:31] tomatau commented on #25
can assert based on dom updates and messages submitted:

[code]

stubbing out the prototype methods for tests in assertions.

BOOM!

[2016-12-18 22:31] #25 closed

[2017-03-20 21:27] crra opened #106 "Can't be started on Windows"
Hello,

on OSX and Linux it works fine, but Windows (7|10) is throwing errors.

[code]

[2017-03-20 22:52] tomatau commented on #106
There's a branch with some docker images you could use to develop on windows. I'd definitely avoid doing any deployments onto windows boxes so it's preferred to develop on a unix based system for consistency.

The docker images are a little off, I can spend some time updating them in the next week if you like.

https://github.com/tomatau/breko-hub/blob/docker-integration/docker/Dockerfile.install

[2017-03-20 23:13] crra commented on #106
No need. I have it running on *NIX systems. I thought you may want to know. I'll look into the issue, maybe there is a quick solution.

[2017-03-21 19:20] tomatau commented on #106
Nice thanks @crra!

[2017-03-21 19:20] #106 closed

[2017-04-06 02:02] arthurzoubin opened #127 "About isBrowser"
export const isBrowser = typeof global !== 'undefined'
I find this in predicates.js file.
But i think global exists in browser, sometimes it is the same as window.
What's the matter?

[2017-04-06 07:06] tomatau commented on #127
There's been a fix in place already for this. It's a known bug!

Check current master:

[code]

https://github.com/tomatau/breko-hub/blob/master/src/config/webpack.base.config.js#L39

[2017-04-06 07:06] #127 closed

[2017-04-09 13:35] #37 closed

[2017-05-14 19:48] greenkeeper[bot] opened #155 "An in-range update of mocha is breaking the build 🚨"
## Version **3.4.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/tomatau/breko-hub/compare/greenkeeper%2Fmocha-3.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2017-05-17 11:39] greenkeeper[bot] opened #157 "An in-range update of redux-logger is breaking the build 🚨"
## Version **3.0.2** of [redux-logger](https://github.com/theaqua/redux-logger) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/tomatau/breko-hub/compare/greenkeeper%2Fredux-logger-3.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      redux-logger
    </td>
  </tr>
  <tr>
    <th ali

[2017-08-27 08:26] tomatau commented on #157
merged

[2017-08-27 08:26] #157 closed

[2017-08-27 08:27] tomatau commented on #155
merged 3.4.2

[2017-08-27 08:27] #155 closed

[2018-03-13 03:05] alamchrstn opened #227 "Preload state with async API call"
I tried to do server side rendering with this project and I wanted to preload the state with a data that is fetched from API. It seems I did it wrongly. Can anyone help? This is what I added in **render-app** middleware in **server** directory.

[code]
Please help..... Thanks in advance

[2018-03-13 08:54] tomatau commented on #227
Hey! Sorry I'm on a train right now so can't reply fully. You need to consider that the logic you've added is synchronous and the next line after your dispatch will render immediately - not waiting for the asynchronous dispatch to have completed. I'll help more later after work when back on my personal machine

[2018-03-13 09:18] alamchrstn commented on #227
@tomatau thank you for your help! and by the way, I'm trying to upgrade the webpack to v4 and I am hitting errors here and there. Is there any webpack v4 config file that I can refer to for this project?
Thanks once again!

[2018-03-13 10:14] tomatau commented on #227
Hey, re webpack 4 I'm waiting for their migration guide to be ready and hopefully the webpack plugins will all be up to date by then too. Right now they haven't updated their documentation so I'm not gonna spend too much time working with it until then

[2018-03-13 10:39] alamchrstn commented on #227
@tomatau ah noted. Well I guess I'll try to figure out myself until then 😄 . Anyway, is there any example for the preloaded state (the main issue)?

[2018-03-15 01:14] alamchrstn commented on #227
@tomatau thank you for the reply! here's what I have for the apiFetch (it's in locale.actions.js)
[code]
by mentioning route config, are you referring to react-router-config? Sorry that I ask so many stuffs because I'm still a newbie here 🙇 . Thanks once again!

[2018-03-19 12:19] tomatau commented on #227
react-router-config is some abstraction for config management. I was talking about a BYO solution where it's more clear what's happening. The react-router official docs have good guides here: https://reacttraining.com/react-router/web/guides/server-rendering/data-loading

[2018-03-23 01:34] alamchrstn commented on #227
@tomatau thanks for the info! I think will close this for now and I'll do some research and studies.

[2018-03-23 09:51] #227 closed

[2018-03-25 16:41] alamchrstn commented on #227
@tomatau wow thank you so much! I'll look into it 😄 you're awesome!

[2018-03-26 01:30] alamchrstn commented on #227
@tomatau I noticed that you replaced the `babel-plugin-dynamic-import-webpack` with `babel-plugin-syntax-dynamic-import`. Actually what's the real difference? Is it due to webpack 4's compatibility?

[2018-03-26 08:09] tomatau commented on #227
Long story!

It was incorrect for me to use the `dynamic-import-webpack` in the first place -- because we had `{ modules: false }` in preset-env to let webpack take care of the modules. But the syntax plugin allows the other plugins to work with the syntax.

So really that change is an unrelated fix! It only came about when trying to update the dynamic-import-webpack dependency.

Bear in mind that

[2018-03-27 10:02] alamchrstn commented on #227
@tomatau ah I see... I guess I need to do some readings for the installed packages 😅 Thanks for your help so far man! And anyway, do you have any suggestion if I want to implement responsiveness for the React Components? You know, like rendering different component(s) based on screen sizes...

[2018-03-28 16:06] tomatau commented on #227
Hey man! For those sorts of questions, google and stack overflow will give you much better answers. There are github lists like "awesome react" which come with some ideas too. Sorry I'm not helping much with this as I'd prefer to keep conversations in this repo specific to this repo.

[2018-03-29 13:37] alamchrstn commented on #227
@tomatau alright cool! thanks for your help so far! I will be exploring the stuffs that are inside this repo and will get in touch with you if anything is blur in along the way. Sorry to bother you this much 🙇 I hope I can learn much and fast... Thanks once again man! You're awesome!

[2018-03-30 08:51] tomatau opened #231 "migrate to loadable-components"
https://github.com/smooth-code/loadable-components/ seems like a more elegant solution with better support than react-loadable.

[2018-04-10 09:12] alamchrstn commented on #227
hey it's me again @tomatau , I have a question 🙇 . So now, I would like to also preload a state into my initial location object that is injected from server (the code is in render-app middleware of the server) so instead of this
[code]
I would like to set an initial state of the location object as well, maybe like this?
[code]
but it does not seem to work, resulting the initial state of the locati

[2018-04-10 17:53] tomatau commented on #227
Why do you want to do this?

React router redux itself will overwrite the location state as soon as the page loads. When you connect up their middleware they dispatch a location change to init the location.

https://github.com/ReactTraining/react-router/blob/v4.2.2/packages/react-router-redux/modules/ConnectedRouter.js#L28

[2018-05-17 13:37] greenkeeper[bot] opened #236 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Replaced the old Node.js version in your `.nvmrc` with the new one
- The engines config in 1 of your `package.json` files was too ambiguous to be updated automatically

If you’re interested in upgrading this repo to Node.j

[2018-05-28 18:10] umbravi opened #237 "CSS not applying on navigation to site"
I've an issue where CSS Grid styles aren't applied on initial app load, but will hot-load if they are changed. In trouble-shooting I get the following error in the client. I've tried to change the localIdentName in the dev and prod configs, but the server path is always the full path from C:\\. I'm not sure if it's related.. So perhaps this is two issues.

`Warning: Prop `className` did not match.

[2018-05-28 22:18] tomatau commented on #237
Hey! Sorry for the slow reply, it's a public holiday here.

So at first glance I'd imagine this issue comes from my implementation of generateScopeName in the css-modules hook.

https://github.com/tomatau/breko-hub/blob/master/src/helpers/css-modules-hook.js#L14-L20

This generates the className for the css-modules on a server render. When I wrote it, I didn't give a thought to anyone developing o

[2018-05-28 22:32] umbravi commented on #237
The styles are loaded with classNames equal to the localIdentName in the config, but the references on the elements are with full path from C:/.

[2018-05-28 22:35] tomatau commented on #237
OK well that's at least one thing that's working! Yes it's probably the quick and dirty generateScopeName implementation -- although I'm still surprised that React's initial render on the client doesn't simply fix the incorrect classNames!

[2018-05-28 22:40] tomatau commented on #237
Btw that method can also be supplied as a string such as

[code]

[2018-05-28 22:59] umbravi commented on #237
I hacked in string replacement that was expected. I'm sure this can be much cleaner, but for now it works for my purposes. :-D

` const path = exportedPath
      .replace(/\\/g, '\/')
      .replace(`${ROOT.replace(/\\/g, '\/')}/`, '')
      .replace(/^\//, '')
      .replace(/\.s?css$/, '')
      .replace(/\/|\.|@/g, '-')`

[2018-05-29 18:29] tomatau commented on #237
hey @umbravi would you please try out this (below, using the same string as in the webpack config) as well? I'd be curious to know if it also fixes the windows paths bug in css-modules on SSR. If it does it would call for an update to the boilerplate.

[code]

[2018-05-29 19:28] umbravi commented on #237
I'll check this when I get home today!

[2018-05-30 04:55] umbravi commented on #237
This works great. I'm not familiar enough with SSR to be able to say if it's working in that case, but at the moment I'm only using the default app and everything within is working fine.

Thanks for this!

[2018-06-04 04:14] umbravi opened #242 "Semantic UI icon fonts displayed as squares"
I've been searching through all other solutions, and semantic seems to be working correctly, all css is loaded correctly, and icon font reference codes are correct. It feels like the font isn't being delivered to the client.

Default webpack configs.

With a default install of semantic ui, all of the fonts are built:
[code]
Css is correct in body[hash].css
[code]
style shows correct icon code that

[2018-06-04 07:53] tomatau commented on #242
If you open the body.css file that's generated in your browser and then search for @font-face you'll maybe see something like this:

[code]

You can see that the Icons are trying to use the svg which is being loaded as svg markup instead of a url.

So you can change the webpack.base.config to use base64 strings for svgs like this:

[code]

In the past I've wanted to support both types of svg impor

[2018-06-04 08:14] umbravi commented on #242
That's beautiful! I'm going to need to set aside time this week to dig into webpack and loaders a bit more. Thanks for the help, again!

[2018-06-04 08:14] #242 closed

[2018-08-06 14:48] underscoredam opened #256 "Mocha doesn't terminate"
Mocha doesn't terminate during integration test run using `./scripts/test/int.sh`, and suspect this because the mocha developers decided to change the mocha termination behavior starting v4.0.0. [This answer](https://stackoverflow.com/a/46759250/1807809) explains it. Should we add the `--exit` flags to `int.sh` and `unit.sh`? (Please do note that `unit.sh` is terminating however)

Configuration:
[

[2018-08-07 13:55] tomatau commented on #256
Oh hey! So sorry I'm super busy at the moment, hoping to go all out on this boilerplate within the next month once I've caught up in other areas and then will get on this error! I'm surprised you're seeing this as the latest master worked fine for me and in CI, it might be a node 10 issue. I've put off upping to node 10 until it goes LTS in October.

[2018-08-11 22:14] underscoredam opened #259 "Serverside redux+socket example"
Hi,

I want to build a client <-> server socket connection in one of my routes. I'm not exactly sure how to do that (I couldn't `import socket from 'composition/socket.js'` in a route due to `TypeError: Cannot read property 'protocol' of undefined`). Can I get a sample code for event listeners for both server sided API route and client side `Component`? Thanks.

[2018-08-12 12:36] tomatau commented on #259
Hey! Thanks for asking! Sorry I won't be able to contribute much time at the moment as I'm overwhelmed AFK but maybe this can help as it's already integrated

https://github.com/rstuven/redux-via-socket.io

You can use redux for socket communication by adding `meta { broadcast: true }` or the other options specified here https://github.com/rstuven/redux-via#meta-options

[2018-08-15 02:07] underscoredam commented on #259
Okay, I was able to figure out how to do this with your help. I am thinking about writing an example and comment to this issue later this week. I noticed two things while I was working on this:

1. There is no way to dispatch from the server since the `socketsStore` is never accessible to routes.
2. On the same file, `sockets.js` is importing createStore from `src/app/compositions`. I thought that

[2018-08-15 02:07] #259 closed

[2018-09-02 17:35] tomatau commented on #256
Hi, I can't reproduce this in node 10

[2018-09-02 17:36] tomatau commented on #236
I'll do this when node 10 goes LTS

[2018-09-11 21:53] #256 closed

[2018-09-14 01:32] greenkeeper[bot] opened #279 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepoundefined

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Fmonorepo.react-16.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

This monorepo update includes releases of one or more dependencies which all belong to the

[2018-10-11 17:04] greenkeeper[bot] opened #288 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.1` to `7.1.2`.
- The `dependency` [@babel/plugin-proposal-class-properties](https://www.npmjs.com/package/@babel/plugin-proposal-class-properties) was updated from `7.0.0` to `7.1.0`.
- The `dependency` [@babel/plugin-proposal-decorators](https:

[2018-10-14 16:32] marclar opened #290 "How to disable server-side rendering?"
First of all, great boilerplate - thanks for publishing it.

Second, I'm trying to integrate with https://onsen.io and merely referencing one of the components returns `window is not defined`. I assume these components depend on a `window` object and won't easily integrate with a server-side rendering process.

Is there a reasonable way to disable the server-side rendering? I'm looking in `render-

[2018-10-15 09:16] tomatau commented on #290
You'll need the server render logic to determine which assets to add to the page.

You can use `require('onsen')` instead of `import x from 'onsen'` as well as the `isBrowser` predicate to conditionally import the library that depends on window. Make sure that that module isn't brought into the server render. You might need to do something hacky when it comes to rendering that component based on a

[2018-10-16 12:48] tomatau commented on #290
No problem @marclar ! Let me know if it works please :)

[2018-10-16 12:48] tomatau commented on #279
NA, all works

[2018-10-16 12:48] #279 closed

[2018-10-16 12:49] tomatau commented on #288
NA all merged and working

[2018-10-16 12:49] #288 closed

[2018-10-21 17:50] marclar commented on #290
So it _seems_ like it's working; no compilation errors, but I still have a couple of issues / questions.

First, I get a warning [like this](https://stackoverflow.com/questions/46443652/react-16-warning-expected-server-html-to-contain-a-matching-div-in-body), as the server-rendered component differs from the client-rendered one. Not sure there's an easy way to overcome that without abusing the `su

[2018-10-22 18:12] tomatau commented on #290
These sounds like general problems that are with building universal components and configuring webpack.

The first problem with diff between server and client is down to the component itself that has this issue.

Running webpack on files inside your node_modules is just a webpack configuration thing. You can edit the webpack configs around the loaders for styling so that they also include `\/onsen

[2018-11-05 19:54] #236 closed

[2018-11-05 19:54] tomatau commented on #231
I'm not going to do this now. Waiting for React.lazy to be server side ready

[2018-11-05 19:54] #231 closed

[2018-11-05 19:55] tomatau commented on #21
I've updated to `nyc` and it works ok.

Maybe can look into generating some graphs or things in Circle builds for each run.

[2018-11-05 19:57] tomatau commented on #18
Going with cypress as it is more deterministic and supports more browsers now. Only issue is it doesn't support safari because of safari reasons but that's acceptable. Chrome and Edge should be enough to get an idea of app behaviour in browsers.

Working on docker images and strategy to manage all this in a clean and happy way.

[2018-11-12 06:23] believer-ufa opened #299 "Preloading data from backend before SSR"
Sorry, but i did not understand. I trying launch boilerplate in production mode, but even in it it do not preloading "bar" module data.

Boilerplate doesn't provide preloading data from api before SSR render, right?)

Strange, as i see, many boilerplates don't care about it, but without rendering data from backend on SSR - it does not work completely isomorphic.

[2018-11-12 12:09] tomatau commented on #299
That's right I don't bake in pre-loading to the boilerplate as the code would be more difficult for a developer trying to understand.

You can add it yourself though with these steps:

1. Make an array of route config objects which contain the props you give to `<Route` for that route and a function called `preload(){` that returns a promise.
2. Use this array of routes in the SSR, call any approp

[2018-11-17 18:42] believer-ufa commented on #299
Sorry for long answer - just hard working week.

Thanks for answer) Generally today i searching on best SSR realization in world for React. Thanks for explaining of one of approaches with routes - i'll remember this.

About SSR as isn't ideal approach - unfortunately, many search crawlers working very poor with websites that need JS to get full content of document, especially in async cases. So, i

[2018-11-18 09:52] tomatau commented on #299
Are you happy with the solution for data fetching and I can close this issue?

[2018-11-18 09:53] believer-ufa commented on #299
As you wish) Sure your can close)

[2018-11-18 16:12] #299 closed, assigned to nobody

[2018-11-25 15:59] marclar opened #301 "How to edit the expected server-side state?"
Hi - I added a redux store called `auth`, and now the test `Server Side Render -> renders initial state from store` is failing. I see that the rendered state contains the key `auth` along with the initial state of the reducer, but the expected state does not contain this key.

I've been looking all over the repo to figure out where the expected state is created but I'm a bit lost. Any pointers?

T

[2018-11-25 17:01] tomatau commented on #301
There's a stub store in the test that's used to generate the expected state

https://github.com/tomatau/breko-hub/blob/master/test/integration/server/server-render.test.js#L151-L158

You can change the test to dispatch actions on the stubStore that mimick what you expect the window.__INITIAL_STATE__ to be output as

[2018-11-25 17:07] marclar commented on #301
Thanks, Thomas - so the `INITIAL_STATE` isn't populated at all, is that correct? I think my confusion comes from the assumption that it'd be created by merging each reducer's initial state.

[2018-11-25 17:08] tomatau commented on #301
Umm, the initial state is always being populated! Can you show me some code or error messages because I'm not sure what I'm dealing with here

[2018-11-25 17:19] marclar commented on #301
I have quite a bit of customization already, so I don't have a standalone repo on-hand, but here are what I believe are the relevant files:

https://gist.github.com/marclar/82d4b651023ace43568150636e2b7729

[2018-11-25 17:37] tomatau commented on #301
By default the function creating the store in the tests is the same as the function creating the store in the app so the new auth reducer's initial state should be present in both

[2018-11-25 18:37] marclar commented on #301
So weird. I've disabled the test for now; thanks for the info...

[2018-11-25 18:37] #301 closed

[2019-05-24 10:33] tomatau opened #319 "Update react-helmet"
https://github.com/nfl/react-helmet/issues/260#issuecomment-495447975

[2019-08-13 22:35] tomatau commented on #319
React-helmet now uses side-effect that in turn uses `componentWillMount`. This is causing errors in dev and test:

[code]

https://github.com/nfl/react-helmet/issues/465

[2019-08-15 22:42] tomatau commented on #30
updated version recently to fix double asset load. still es5

[2019-08-19 17:19] #319 closed

[2019-08-21 22:00] greenkeeper[bot] opened #399 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.2.0` to `6.2.1`.

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Feslint-6.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might not b

[2019-08-22 10:25] tomatau commented on #399
https://github.com/eslint/eslint/issues/12117

[2019-09-02 19:01] tomatau commented on #399
Fixed with babel-eslint@10.0.3

[2019-09-02 19:01] #399 closed

[2019-09-26 17:14] #18 closed

[2019-09-27 11:37] tomatau opened #440 "Implement review apps"
This is tricky as:
- Review apps are auto-created on pull requests
- Need to wait until the review app is deployed
- Need to know the review app's URL for cypress tests
- Not sure of the approach to use for code to push a review app in GitHub workflow
- Risk of incurring more cost

Could use this https://github.com/niteoweb/reviewapps-deploy-status

[2019-09-28 21:54] tomatau commented on #440
Done and implemented! BOOM

[2019-09-28 21:54] #440 closed

[2019-10-02 19:57] greenkeeper[bot] opened #456 "An in-range update of chokidar is breaking the build 🚨"
## The devDependency [chokidar](https://github.com/paulmillr/chokidar) was updated from `3.2.0` to `3.2.1`.

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Fchokidar-3.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

chokidar is a devDependency of this project. It **

[2019-10-02 19:57] greenkeeper[bot] opened #457 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.15.0` to `7.15.1`.

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Feslint-plugin-react-7.15.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2019-10-02 19:58] greenkeeper[bot] opened #458 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.40.3` to `4.41.0`.

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Fwebpack-4.41.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **mig

[2019-10-02 19:58] greenkeeper[bot] opened #459 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.4.2` to `7.5.0`.

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Fsinon-7.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **might not brea

[2019-10-03 08:47] greenkeeper[bot] opened #461 "An in-range update of enzyme-to-json is breaking the build 🚨"
## The devDependency [enzyme-to-json](https://github.com/adriantoine/enzyme-to-json) was updated from `3.4.0` to `3.4.1`.

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Fenzyme-to-json-3.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

enzyme-to-json is a devDepende

[2019-10-03 23:40] #456 closed

[2019-10-03 23:40] #457 closed

[2019-10-03 23:40] #458 closed

[2019-10-03 23:40] #459 closed

[2019-10-03 23:40] #461 closed

[2019-10-05 09:13] greenkeeper[bot] opened #467 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.15.1` to `7.16.0`.

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Feslint-plugin-react-7.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2019-10-05 09:14] greenkeeper[bot] opened #468 "An in-range update of url-loader is breaking the build 🚨"
## The devDependency [url-loader](https://github.com/webpack-contrib/url-loader) was updated from `2.1.0` to `2.2.0`.

🚨 [View failing branch](https://github.com/tomatau/breko-hub/compare/master...tomatau:greenkeeper%2Furl-loader-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

url-loader is a devDependency of this

[2019-10-05 09:20] #467 closed

[2019-10-05 09:20] #468 closed